/*
 *= require_tree .
 *= require_self
 */

body {
    background-color: #fffacd;
}

.body-container {
 width: 100%;
 display: flex;
 justify-content: center;
}

.contents {
    background-color: #d26eb0;
 margin-top: 60px;
 padding: 20px;
 text-align: center; 
 border-radius: 5px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

ul {
    list-style: none;
}

.random-menu {
    display: block;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    width: 500px;
    border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}